@model GrantsViewModel

<div class="grants">
    <div class="row grants-header">
        <div class="col-sm-10 offset-sm-1">
            <h1 class="title">
                Client Application Access
            </h1>
            <div class="description">Below is the list of applications you have given access to and the names of the resources they have access to.</div>
        </div>
    </div>

    @if (Model.Grants.Any() == false)
    {
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div class="alert alert-info">
                    You have not given access to any applications
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var grant in Model.Grants)
            {
                <div class="card grant-card col-sm-8 offset-sm-2">
                    <div class="card-body">
                        <h5 class="card-title">@grant.ClientName</h5>
                        <div class="card-text">
                            <span class="text-muted">Created:</span> @grant.Created.ToString("yyyy-MM-dd")
                        </div>
                        @if (grant.Expires.HasValue)
                        {
                            <div class="card-text">
                                <span class="text-muted">Expires:</span> @grant.Expires.Value.ToString("yyyy-MM-dd")
                            </div>
                        }
                        @if (grant.IdentityGrantNames.Any())
                        {
                            <div class="card-subtitle">
                                Identity Grants
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var name in grant.IdentityGrantNames)
                                {
                                    <li class="list-group-item">@name</li>
                                }
                            </ul>
                        }
                        @if (grant.ApiGrantNames.Any())
                        {
                            <div class="card-subtitle">
                                API Grants
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var name in grant.ApiGrantNames)
                                {
                                    <li class="list-group-item">@name</li>
                                }
                            </ul>
                        }
                        <form asp-action="Revoke" class="card-btn">
                            <input type="hidden" name="clientId" value="@grant.ClientId">
                            <button class="btn btn-danger">Revoke Access</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    }
</div>